body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* toggle button styles */
.toggle-btn {
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin-left: auto;
}
.toggle-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s ease-in-out;
}
.toggle-text {
  position: relative;
  z-index: 1;
}

.container {
  width: 550px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center; */
  background-image: url("assets/movie-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.movie-find {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* gap: 2rem; */
  color: #ffffff;
}

.movie-find > h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

.movie-find > p {
  font-weight: 700;
  font-size: 1rem;
}

.movie-find > p > a {
  color: #ffffff;
  background-color: #4b4b4b;
  padding: 0.5rem;
  /* font-weight: 700; */
}

.movie-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8%;
  left: 0;
  right: 0;
}
.movie-search > input {
  width: 300px;
  /* border-radius: 5px; */
  /* border: none; */
  padding: 0.5rem;
  font-size: 1rem;
}
.movie-search > button {
  width: 120px;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #4b4b4b;
  color: #ffffff;
}

.movie-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #121212; */
}

.movie-poster {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  gap: 2rem;
  border-bottom: 2px solid #4b4b4b;
}

.movie-img > img {
  width: 100px;
  /* height: 300px; */
  /* border-radius: 10px; */
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.fa-star {
  color: #fec654;
  margin-right: 0.5rem;
}

.movie-info-name {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 1rem;
  /* color: #ffffff; */
}
.movie-info-name > h2 {
  margin: 0;
}
.movie-info-details {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: left;
  flex-wrap: wrap;
  /* color: #ffffff; */
  margin: 0;
}

.watchlist,
.remove-from-watchlist {
  cursor: pointer;
  text-decoration: underline;
}

.circle-plus,
.circle-remove {
  width: 1rem;
  margin-right: 0.5rem;
}

.fa-circle-plus {
  color: #ffffff;
  margin-right: 0.5rem;
}

.movie-info-details > p {
  margin: 0;
}

.movie-info-details > p:nth-child(2),
.movie-info-details > p:last-child {
  margin-left: 1rem;
}

.movie-info-description {
  color: #797979;
}

.movie-info-description > p {
  margin: 0 0 1rem 0;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 96%;
  }

  .movie-search {
    padding: 0.5rem;
  }

  .movie-poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    gap: 1rem;
  }

  .movie-img {
    width: 100%;
    margin: 1rem;
  }

  .movie-img > img {
    width: 100%;
  }

  .movie-find > h1 {
    font-size: 1.5rem;
  }
}
